PRIVATE_KEY=your_private_key_here
BASE_SEPOLIA_RPC_URL=https://sepolia.base.org
NEXT_PUBLIC_THIRDWEB_CLIENT_ID=72d892b6135ad512e76668d27645e6e8
NEXT_PUBLIC_CONTRACT_ADDRESS=0x801F15748D3a6dFc5A8D3a7Bc36821Cdb51d59bC
GEMINI_API_KEY=AIzaSyDZNuDnMt-vyqV5eDa8X-bNO8UhmPvCErM
